main ol{
  font-size: 30px;
}

body{
  background-color: #e8e9e8;
  background-image: url(bilder/5691552-high-resolution-pictures.jpg);
  color: white;
  font-size: 30px;
}
li{
  padding: 10px;
}
h1{
  text-align:center;
  color: orange;
  margin: auto;
  background-color: black;
  border-radius: 5px;
  margin-left: 400px;
  margin-right: 400px;
}
h2{
  text-align: center;
}
