.burger{
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
}
.brod{
  background-color: brown;
  width: 10px;
  height: 2px;
}
.kjott{
  background-color: darkred;
  width: 10px;
  height: 2px;
}
