body{
  background-color: brown;
  font-family: monospace, sans-serif;
  text-align: center;
}
.overskrift{
  text-align: center;
  font-size: 50px;
}
.button{
  background-color: black;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-radius: 4px;
  border-color: red;
  color: brown;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#secPokemon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 4px;
  margin-top: 50px;
}
#secPokemon section{
  background-color: lightgrey;
  border-style: solid;
  border-color: black;
}
